@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Open+Sans:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}

svg {
  display: block;
  vertical-align: middle;
}

html,
body,
#root,
.theme-0 {
  height: 100%;
  margin: 0;
  padding: 0;
}

button,
a {
  cursor: pointer;
  outline: none;
  border: 0;
  background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
